@charset "UTF-8";

/* メディアクエリブレークポイント
-------------------------------*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* カラー
-------------------------------*/
$text_color: #383838;

$white: #FFFFFF;
$black: #000000;
$gray: #CCCCCC;

/* min-width
-------------------------------*/
@mixin display_sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin display_md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin display_lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin display_xl {
  @media (min-width: $xl) {
    @content;
  }
}

/* レイアウト
-------------------------------*/
@mixin max_width {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

/* 共通部分
------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 24px;
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Serif JP", serif;
  color: $text_color;
}

a {
  color: $text_color;
  text-decoration: none;
}

/* ヘッダー
------------------------------- */
.header {
  width: 100%;
  height: 8vh;
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 800;
}

.header-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 50%;
    max-width: 280px;
    height: auto;
    padding: 0 0 0 4%;
    @include display_md {
      width: 30%;
      padding: 0 0 0 2%;
    }
  }
}

.header-btn {
  width: 8vh;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  gap: 15%;
  padding: 0 2vh;
  &__line {
    width: 100%;
    height: 2px;
    background-color: $text_color;
    border-radius: 4px;
    transition-duration: 0.4s;
    &:nth-of-type(1) {
      &.open {
        background-color: $white;
        transform: translate(0, 10px) rotate(-45deg);
      }
    }
    &:nth-of-type(2) {
      &.open {
        background-color: $white;
        transform: translate(50px);
      }
    }
    &:nth-of-type(3) {
      &.open {
        background-color: $white;
        transform: translate(0, -10px) rotate(45deg);
      }
    }
  }
  @include display_md {
    display: none;
  }
}

/* ナビゲーション
------------------------------- */
.nav {
  width: 60%;
  height: 100%;
  background: linear-gradient(to bottom right, $black, $white);
  position: fixed;
  top: 0;
  right: -60%;
  z-index: 900;
  transition-duration: 0.4s;
  padding: 8vh 0 0 0;
  &.open {
    right: 0;
  }
  @include display_md {
    max-width: 540px;
    background: initial;
    position: initial;
    padding: 0;
  }
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include display_md {
      flex-direction: row;
      align-items: center;
    }
  }
  &__link {
    width: 100%;
    height: auto;
    text-align: center;
    color: $white;
    border-top: 0.5px solid $white;
    padding: 4vh 0;
    &:last-child {
      border-bottom: 0.5px solid $white;
    }
    &:hover {
      background-color: darken($white, 70%);
      transition: all 0.5s ease-in-out;
    }
    @include display_md {
      color: $text_color;
      border-top: none;
      padding: 0;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: initial;
      }
    }
  }
}

/* メインビジュアル
------------------------------- */
.mv {
  &__item {
    & img {
      width: 100%;
      height: 80vh;
      object-fit: cover;
      filter: grayscale(100%);
    }
  }
}

/* メイン（共通部分）
------------------------------- */
.main {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
  height: auto;
  padding: 0 4%;
}

.space {
  width: 100%;
  height: auto;
  padding: 4vh;
}

.flex {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  @include display_md {
    flex-direction: row;
    @include max_width;
  }
  &__item {
    width: 100%;
    height: auto;
  }
}

.text-area {
  width: 100%;
  max-width: 540px;
  height: auto;
  margin: 0 auto;
  &__heading {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 2vh 0;
    &_white {
      color: $white;
    }
  }
  &__text {
    line-height: 3rem;
    &_white {
      color: $white;
    }
  }
}

/* キャッチコピー
------------------------------- */
.catch {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

/* タイトル
------------------------------- */
.title {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 6vh 0;
  &__en {
    color: $gray;
  }
  &__ja {
    font-size: 2rem;
    font-weight: 700;
    &_white {
      color: $white;
    }
  }
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url("https://junpei-sugiyama.com/wp-content/uploads/2021/01/dog01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    filter: brightness(50%) grayscale(100%);
    z-index: -1;
  }
}

.gallery {
  width: 100%;
  height: auto;
  &__list {
    transition-timing-function: linear;
  }
  &__item {
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      filter: grayscale(100%);
      padding: 0 6px;
    }
  }
}

/* 会社概要
------------------------------- */
.table {
  width: 100%;
  height: auto;
  &__tr {
    width: 100%;
    height: auto;
  }
  &__th {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: lighten($black, 90%);
    padding: 2vh 0;
  }
  &__td {
    width: 100%;
    height: auto;
    padding: 2vh 4%;
  }
}

/* 事業内容
------------------------------- */

/* 保有車両
------------------------------- */
.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  @include display_sm {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }
}

.card-item {
  width: 100%;
  height: auto;
  @include display_sm {
    width: 48%;
  }
  @include display_lg {
    width: 30%;
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
  }
  &__text {
    width: 100%;
    height: auto;
    font-weight: 700;
  }
}

/* フッター
------------------------------- */
.footer {
  width: 100%;
  height: auto;
}

.footer-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  padding: 12vh 4%;
  @include display_md {
    flex-direction: row;
    justify-content: center;
  }
  &__logo {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}

.footer-copyright {
  width: 100%;
  height: 8vh;
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 1.2rem;
  }
}